<%- include('includes/head.ejs') %>

<!-- login page -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Login</h1>
        </div>

        <% if (mensaje) { %>
            <div class="alert alert-danger" role="alert">
                <%= mensaje %>
            </div>
        <% } %>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/users/login" method="POST">
                <div class="form-group">

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password"
                    />
                </div>
                <input type="submit" class="btn btn-primary" value="Entrar" />
            </form>
        </div>
    </div>
</div>

<%- include('includes/foot.ejs') %>
