<%- include('includes/head.ejs') %>

<!-- login page -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/sportid/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password"
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include('includes/foot.ejs') %>
