<%- include('includes/head.ejs') %>

<div class="container" style="margin: auto; width: 75%; padding: 50px;">
    <div class="text-center">
        <div class="col-md-12 text-center">
        <h1>Preguntas Frecuentes</h1>
        </div>
    
        <div class="text-center">
        <p>
            En esta pagina podras encontrar las preguntas mas frecuentes que se hacen
            los usuarios de la pagina.
        </p>
        </div>
        <div class="text-center">
        <img src="../assets/sportsid.jfif" alt="logo" width="200" height="200"
            class="rounded mx-auto d-block" />
        </div>
    </div>

    <div class="q1 text-center">

        <h3>¿Qué otros templating engines existen para node?</h3>
        <p>Existen muchos otros templating engines para node, como por ejemplo: EJS, Pug, Handlebars, etc.</p>
        <ul>
            <li>EJS (Embedded JavaScript): es un motor de plantillas con sintaxis similar a la de JavaScript. Es fácil de aprender y tiene una gran comunidad.</li>
            <li>Pug (Jade): es un motor de plantillas que se basa en HTML. Es fácil de aprender y tiene una gran comunidad.</li>
            <li>Handlebars: es un motor de plantillas que utiliza la sintaxis Mustache. Es muy popular y fácil de usar.</li>
            <li>Nunjucks: es un motor de plantillas que utiliza una sintaxis similar a la de Jinja y Django. Es muy potente y cuenta con muchas características avanzadas.</li>
            <li>Haml-js: es un motor de plantillas que utiliza la sintaxis Haml. Es muy fácil de leer y escribir.</li>
        </ul>
        <p> Cada uno de estos motores de plantillas tiene sus propias características y sintaxis, por lo que es recomendable evaluarlos para encontrar el que mejor se adapte a tus necesidades y preferencias.</p>
    </div>

</div>

<%- include('includes/foot.ejs') %>