/* Styled */ 

/* Path: style.css */


body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    /*Center and text*/
    align-items: center;
    
}
.about {
  background-color: #fff;
  padding: 100px 0;
}


/* class="About" */
.about .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.about .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* class="Skills" */
.skills {
  background-color: #fff;
  padding: 50px 0;
}

.skills .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

