<!-- Pagina principal donde se muestra que es una pagina de deportes -->

<%- include('includes/head.ejs') %>

    <!-- ponle estilo a la pagina principal -->

    <div class="container" style="margin: auto; width: 75%; padding: 50px;">
        <div class="text-center">
            <div class="col-md-12 text-center">
                <h1>Todos los deportes en un solo lugar</h1>
            </div>

            <div class="text-center">
                <p>
                    En esta pagina podras encontrar todos los deportes que te puedas
                    imaginar, desde futbol hasta baloncesto, pasando por tenis y
                    muchos mas.
                </p>
            </div>
            <div class="text-center">
                <img src="../assets/sportsid.jfif" alt="logo" width="200" height="200"
                    class="rounded mx-auto d-block" />
            </div>
        </div>

        <%- include('includes/foot.ejs') %>
    </div>