<%- include('includes/head.ejs') %>
    <!-- Registar nuevo jugador con nombre, equipo y foto -->

    <div class="form-group text-center">

        <h1>Registrar nuevo jugador</h1>

        <br><br>

        <form action= "/sportid/nuevo" method="POST">

            <label for="name">Nombre</label>
            <input name="name" type="text" class="form-control w-50 m-auto" id="name" placeholder="Nombre">

            <label for="team">Equipo</label>
            <input name="team" type="text" class="form-control w-50 m-auto" id="team" placeholder="Equipo">

            <label for="image">Foto</label>
            <input name="image" type="file" class="form-control-file w-50 m-auto" id="image" value="Registar">

            <br><br>

            <button type="submit" class="btn btn-primary ">Submit</button>

        </form>
    </div>



    <% include('includes/foot.ejs') %>