</main>

<!-- footer dark bg-dark text-white mt-5 p-4 text-center fixed-bottom -->

<footer class="dark bg-dark text-white mt-5 p-3 text-center fixed-bottom">

    <div class="container">
        <!-- dos columnas-->
        <div class="row">
            <!-- columna 1-->
            <div class="col-md-6">
                <!-- <h5>Footer Content</h5> -->
                <p class="lead">Dante Pérez</p>
            </div>
            <!-- columna 2-->
            <div class="col-md-6">
                <!-- boton github -->
                <a href="https://github.com/soydanteprz" class="btn btn-outline-light btn-lg">
                    <i class="fa-brands fa-github"></i> GitHub
                </a>
            </div>
        </div>
</footer>
</body>

</html>