<%- include('includes/head.ejs') %>

    <!-- // Sign up page -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Sign up</h2>
                <form action="/users/signup" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <label for="nombre">Nombre</label>
                    <input required name="nombre" id="nombre" class="input is-rounded" type="text"
                        placeholder="Dante Pérez">

                    <label for="username">Username</label>
                    <input required name="username" id="username" class="input is-rounded" type="text"
                        placeholder="dante">

                    <label for="password">Password</label>
                    <input required name="password" id="password" class="input is-rounded" type="password">

                    <br><br>

                    <input type="submit" class="button is-primary" value="Sign up">
                </form>
            </div>
        </div>
    </div>




    <%- include('includes/foot.ejs') %>